.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  font-weight: 100;
  margin: 0.4em;
  font-size: 1rem;
}

.header:hover {
  cursor: not-allowed;
}


.footer {
  font-size: 1rem;
}

.backToHome {
  margin: 3rem 0 0;
}