.textLeft {
  text-align: left;
}

.textCenter {
  text-align: center;
}

.CN {
  @include CenString;
}

.margin50p {
  margin-top: $p50;
}

.flex-container {
  display: none;
}

.inblo {
  display: $IB;
}

.blue {
  color: skyblue;
}
@media screen and (min-width: 739.99px) {
  .hoverbob:hover {
    transform: scale(3);
    transition-duration: 0.25s;
  }
}

.PPx {
  display: inline-block;
  border-radius: 2px;
  padding: {
    bottom: 2px;
    left: 5px;
    right: 5px;
    top: 0px;
  }
  white-space: pre-wrap;
  width: fit-content;
}

a dt .dateST {
  color: $ST;
}

.C {
  font-size: 12px;
}

.headerState {
  text-decoration: underline;
  pointer-events: none;
}

.Pagi {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: rgb(100, 100, 100);
  font-weight: bold;
  height: 25px;
  width: 25px;
  border: solid 1px;
}

.listState {
  background: rgb(61, 81, 107);
  color: white;
  border: solid 1px transparent;
  pointer-events: none;
}

.bgg {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 43px;
  background: #222;
  border-bottom: solid 1px black;
  top: $p0;
  left: $p0;
}

.Line {
  display: none;
}

.disableN {
  z-index: 3;
  position: relative;
  display: $IB;
  top: 10px;
}

.triangle-bottom {
  color: $FB transparent transparent transparent;
  border-color: $FB transparent transparent transparent;
  @include Sankaku;
}

.SankakuBlack {
  position: relative;
  left: 6px;
  top: 2px;
  border-color: $ST transparent transparent transparent;
  @include Sankaku;
}

.point {
  cursor: zoom-in;
}

.margin10 {
  margin-top: $p10;
}

.pinkLinks {
  color: rgb(160, 240, 240);
}

.Link-Color {
  color: $ST;
}

.right1p {
  margin-left: 1px;
}

.right3p {
  margin-left: 3px;
}

.right4p {
  margin-left: 4px;
}

.left2p {
  margin-left: -2px;
}

.left1p {
  margin-left: -1px;
}

// GraphicsとAbout以外位置を修正してる
