.textLeft {
  text-align: left;
}

.CN {
 @include CenString;
}

.margin25r {
  margin-top: $r25;
}

.flex-container {
  display: none;
}

.Logo {
  z-index: 4;
  position: relative;
  top: -16px;
  left: -300px;
}


.Home {
  @include CenString;
  animation:1.2s ease-in 1s infinite alternate-reverse feed;
  cursor: pointer;
  border: none;
  width: $p200;
  font: {
  family: $Google0;
  weight: normal;
  style: italic;
  size: $p50;
  }
}

.hikki {
  font: {
  family: $Google0;
  weight: 100;
  style: italic;
  }
}

.C {
  font-size: $p10;
}

.colorState {
  opacity: 0.2;
  transition-duration: 0.2s;
  pointer-events: none;
}

.bgg {
  z-index: 4;
  position: fixed;
  background-color: $BG;
  padding: 16px;
  width: $r100;
  height: 40px;
  top: $p0;
  left: $p0;
}

.disableN {
  z-index: 5;
  position: relative;
  display: $IB;
  top: -5px;
}



.triangle-bottom {
  display: $IB;
  border: {
    style: solid;
    width: 5px;
    color: rgb(215,228,255) transparent transparent transparent;
  }
}

.Maru {
  border-radius: $r50;
}

/* 小物のズーム */
.Zoom:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
  }


@media screen and (min-width: 740px) {
/* PC写真のズーム */
.Zoom-in {
  transition-duration: 1.5s;
}
.Zoom-in:hover {
  transform: scale(2);
}
}

.PM {
  border: medium solid transparent;
}



.margin0 {
  margin: $p0;
}

.margin10 {
  margin-top: $p10;
}

.redLinks {
  color: $RP;
}

.Special {
  color: $FA;
}

.Time1 {
  font-weight: 700;
  font-style: normal;
  font-size: $p10;
  color: rgb(215,228,255);
}





