.textLeft {
  text-align: left;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.flex-container {
  display: none;
}

.inblo {
  display: $IB;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  color: skyblue;
}
@media screen and (min-width: 739.99px) {
  .hoverbob:hover {
    transform: scale(3);
    transition-duration: 0.25s;
  }
}

.PPx {
  display: inline-block;
  border-radius: 2px;
  padding: {
    bottom: 2px;
    left: 5px;
    right: 5px;
    top: 0;
  }

  white-space: pre-wrap;
  width: fit-content;
}

a dt .dateST {
  color: $ST;
}

.C {
  font-size: 12px;
}

.headerState {
  text-decoration: underline;
  cursor: default;
}

.blockState {
  background: var(--color-icon);
  border-radius: 4px;
}

.blockLight {
  transform: rotateX(360deg);
  background: var(--color-state);
  border-radius: 4px;
  transition: 1s;
}

.blockLightNormal {
  transform: rotateX(-360deg);
  border-radius: 4px;
  transition: 1s;
}

.Done {
  display: block;
  pointer-events: none;
}

.Pagi {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: rgb(100 100 100);
  font-weight: bold;
  height: 25px;
  width: 25px;
  border: solid 1px;
}

.listState {
  background: rgb(61 81 107);
  color: white;
  border: solid 1px transparent;
  pointer-events: none;
}

.bgg {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 58px;

  // backdrop-filter: blur(10px);
  background: var(--color-bg);
  top: $p0;
  left: $p0;
  transition: all 2s;
}

.none {
  display: none;
}

.disableN {
  z-index: 2;
  position: relative;
  display: $IB;
  top: 10px;
}

.triangle-bottom {
  color: $FB transparent transparent transparent;
  border-color: $FB transparent transparent transparent;
  @include Sankaku;
}

.SankakuBlack {
  position: relative;
  left: 6px;
  top: 2px;
  border-color: var(--color-text) transparent transparent transparent;
  @include Sankaku;
}

.point {
  cursor: pointer;
}

.margin10 {
  margin-top: $p10;
}

.pinkLinks {
  color: var(--color-pink);
}

.Link-Color {
  color: $ST;
}

.right1p {
  margin-left: 6px;
}

.right3p {
  margin-left: 4px;
}

.right4p {
  margin-left: 4px;
}

.left2p {
  margin-left: 4px;
}

.left1p {
  margin-left: 2px;
}

.bottom {
  @include Tool;

  border-radius: 4px;
  visibility: visible;
}

.bottomLess {
  @include Tool;

  opacity: 0;
  transform: scale(0);
  visibility: hidden;
}

.underline {
  position: relative;
}

.underline::after {
  @include UnderlineLeft;

  width: 265px;
  transition: 0.3s all;
}

.underLess {
  position: relative;
}

.underLess::after {
  @include UnderlineLeft;

  width: 0;
  transition: 0.1s all;
  transition-delay: 0.2s;
}

.underlineDuo {
  position: relative;
}

.underlineDuo::after {
  @include Underline;

  width: 75%;
  transition: 0.4s all;
  transition-delay: 0.2s;
}

.underlineNormal {
  position: relative;
}

.underlineNormal::after {
  @include Underline;

  width: 200%;
  opacity: 0;
  transition: 0.2s all;
}

.border-bottom {
  background-color: var(--color-icon);
  margin-top: 14px;
  height: 3px;
  bottom: 0;
  border-radius: 4px;
}

.Active {
  opacity: 1;
  transition-duration: 0.5s;
}

.NoActive {
  opacity: 0.5;
  transform: translateY(-58px);
  transition-duration: 0.5s;
}

// GraphicsとAbout以外位置を修正してる
