@import "setting";
@import "parts";
@import "./PT/scrollbar";

html {
  -webkit-text-size-adjust: $r100;
  overflow: scroll;
}
body {
  font: {
    family: $Google;
    size: $p16;
    weight: 100;
  }
  word-break: break-all;
  text-align: center;
  background: $BG;
  color: $ST;
  width: 800px;
  @include LRauto;
  transition-duration: 0.5s;
}

// code {
//   // font-size: 12px;
//   // font-weight: bold;
//   // font-family: "Consolas", "Courier New", monospace;
// }

ruby {
  ruby-align: distribute-letter;
}

pre {
  border-radius: 10px;
}

pre code span {
  white-space: pre-wrap;
  font-size: $p12;
  font-weight: bold;
}

iframe {
  transform: scale(0.95);
  width: 100%;
}

blockquote {
  border-left: solid 6px gray;
  margin: 0px;
  padding-left: 20px;
}

.resizeimage img {
  width: 100%;
  transform: scale(0.95);
}

button {
  border: none;
  outline: none;
  font: {
    family: $Google;
    weight: normal;
    size: 14px;
  }
}

.list li {
  margin: 14px;
}

ul {
  padding: 0px;
}

.menuButton {
  margin-top: 300px;
  transition-duration: 3s;
}

.NavDrop [aria-expanded="true"] {
  position: absolute;
  margin-top: 24px;
  opacity: 1;
  transition-duration: 0.125s;
}

.NavDrop [aria-expanded="false"] {
  opacity: 0;
}

.menu li {
  list-style-type: none;
  border: solid 1px $ST;
  border-style: dashed;
  background: #666;
  color: $ST;
  font-size: 16px;
}

.menu {
  text-align: left;
  display: inline-block;
}

.nav1 {
  @include NAV;
}

.nav2 {
  z-index: 4;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  row-gap: 15px;
  font-size: 14px;
  white-space: nowrap;
}

.nav2 a {
  color: $ST;
}

.nav3 {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.MenuList {
  visibility: collapse;
}

.MenuList li {
  font-size: $p16;
  list-style: none;
}

dt {
  font-size: $p10;
}
dd {
  margin-left: $p0;
  margin-bottom: $p20;
}

a {
  color: $ST;
  text-decoration: none;
}

.Hlink a {
  color: #68a5ff;
  text-decoration: none;
}

.Nlink a {
  color: #333;
}

.Color a {
  color: #fff;
}

.White a {
  color: $ST;
}

.scaleLinks:hover {
  @include Hover;
}

.hoverBG:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

.Block {
  padding: 16px 24px 23px 24px;
}

.BlockM {
  padding: 14px;
}

p {
  white-space: pre-wrap;
  width: fit-content;
}

p:hover {
  cursor: cell;
  @include Hover;
}

h1 {
  @include H1H2;
}

h2 {
  @include H1H2;
  display: $IB;
}

h3 {
  @include H3;
}

h5 {
  @include H5;
}

@keyframes feed {
  from {
    opacity: 0.05;
  }
  to {
    opacity: 1;
  }
}

.footerFix {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  padding: 20px;
}

input {
  @include Input;
  @include LRauto;
  @include BBMyellow;
}

textarea {
  @include Textarea;
  @include LRauto;
  @include BBMyellow;
}

#massageButton {
  @include Mbutton;
}

.hidari {
  z-index: 3;
  position: relative;
  left: -700px;
  top: -45px;
  font-size: 30px;
}

.toggle {
  z-index: 3;
  position: relative;
  color: white;
  user-select: none;
  top: 2px;
  left: -500px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 22px;
  cursor: pointer;
  background: $BG;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 1px white;
}

.toggle [aria-expanded="true"] {
  transform: rotate(180deg);
}

.toggle [aria-expanded="true"] {
}

#About input {
  display: none;
}
#About ul {
  height: 0;
  overflow: hidden;
}

#About input:checked + ul {
  height: 55px;
  transition-duration: 0.25s;
}

#About ul li {
  height: 20px;
  padding: 5px 0 5px 40px;
}

#Works input {
  display: none;
}
#Works ul {
  height: 0;
  overflow: hidden;
}
#Works input:checked + ul {
  height: 85px;
  transition-duration: 0.25s;
}

#Works ul li {
  height: 20px;
  padding: 5px 0 5px 40px;
}

#Graph input {
  display: none;
}
#Graph ul {
  height: 0;
  overflow: hidden;
}
#Graph input:checked + ul {
  height: 85px;
  transition-duration: 0.25s;
}

#Graph ul li {
  height: 20px;
  padding: 5px 0 5px 40px;
}

.m0 {
  cursor: pointer;
}

form {
  border: 1px dashed #333;
  border-radius: 50px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: $p100;
  background: #333;
  color: white;
  transition-duration: 0.5s;
}
form:focus-within {
  background: $FB;
  color: #022;
  box-shadow: 0 0 0 100vmax rgba(51, 51, 51, 1);
}
