html,
body {
  font-family: "Sawarabi Gothic";
  word-break: break-all;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 1em;
  font-size: 0.95rem;
  background: #f2f2f2;
  color: #666;
}

a {
  color: #7077d8;
  text-decoration: none;
}

a :hover {
  color: #7077d8;
  text-decoration: none;
}

a.black :hover {
  color: #666;
}

a.black {
  color: #666;
}


.bgg {
  z-index: 3;
  position: fixed;
  background-color: #f0ebeb;
  padding: 16px;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  height: 20px;
  top: 0px;
  left: 0px;
}


.h1 {
  font-family: adobe-arabic, sans-serif;
  font-weight: 400;
  font-style: italic;
  top: -10px;
  left: 480px;
  position: fixed;
}


.MenuList {
  display: none;
}


h2 {
  font-family: adobe-arabic, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  border-bottom: 1px solid #eaeaea;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}
.triangle-bottom {
  display: inline-block;
  border-style: solid;
  border-width: 10px;
  border-color: #eaeaea transparent transparent transparent;
}

.navSide{
  position: fixed;
  width: 200px;
  height: 100px;
  top: 210px;
  left: 23%;
  display: none;
}

.navSide :hover{
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.hako {
  list-style: none;
  font-size: 1em;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  margin: 4px;
  padding: 12px;
}

.hako2 {
  font-size: 1rem;
  list-style: none;
  display: inline-block;
  border: 1px solid #eaeaea;
  width: 180px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  background: #eeefff;
}

.box :hover {
  transform: scale(1.4);
  transition-duration: 0.5s;
}

.migi :hover {
  transform: translateX(17%);
  transition-duration: 0.5s;
}

.Maru {
  display: block;
  border-radius: 50%;
}

.Zoom:hover {
    transform: scale(2);
    transition-duration: 0.5s;
  }

.pm {
  border-radius: 5%;
  border: solid 3px #777777;
  margin: 10px;
}




.size {
  width: 214px;
  height: 302px;
}


.flex-container {
  z-index: 0;
  position: relative;
	display: flex;
  align-items: center;
  justify-content: center;
  grid-column-gap: 2%;
}

.top {
  margin-top: 40px;
}


.footer {
  z-index: 0;
  position: relative;
  left:0%;
  right: 0%;
  padding-top: 100px;
}

.Pb {
  z-index: 3;
  position: fixed;
  top: 15px;
  left: 32.5%;
}


nav ul {
  display: flex;
	justify-content: center;
  grid-gap: 16px;
  margin: auto;
  padding: auto;
  width: 100%;
  }
  nav li {
    list-style-type: none;
    width: 100px;
    white-space: nowrap;
  }
  nav a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #666;
  padding-bottom: 15px;
  }

  
  @media (max-width: 428px) {
    .resp {
      resize: both;
      width: 100%;
      zoom: 100%;
    }
    .left {
      display: none;
      left: 0px;
      }

    .flex-container {
    grid-column-gap: 6%;
    }
    .navSide{
      left: -140px;
      top: 72px;
      text-align: right;
      display: none;
    }
    .navSide :hover{
      transform: scale(1);
    }
    .migi :hover {
      transform: translateX(-25%);
      transition-duration: 0.8s;  
    }

    .hako {
      font-size: 0.8rem;
      margin-top: 20px;
      padding: 10 px;

    }

    h2 {
      width: 100%;
    }

    /* .nav{
      display: none;
    }
    .navSide{
      visibility: visible;
      position: absolute;
      left: -40px;
    }
    li {
      list-style: none;
      box-sizing: border-box;
      border: 1px solid #ff6464;
      background-color: rgb(252, 170, 122);
      margin: 3px;
      padding: 3px;
    }
    .migi :hover {
      transform: translateX(-20px);
    } */
  }

.none {
  display: none;
}