html,
body {
  font-family: "Sawarabi Gothic";
  word-break: break-all;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 1em 2em;
  font-size: 0.95rem;
  background: #f2f2f2;
  color: #666;
}
.left {
  position: absolute;
  left: 482px;
  top: 32px;
  border: solid 3px #eaeaea;
}

#title {
  cursor: none;
}

header h1 {
  z-index: 1;
  font-family: adobe-arabic, sans-serif;
  font-weight: 400;
  font-style: italic;
  position: fixed;
  top: -19px;
}

h1 {
  border-bottom: 1px solid #eaeaea;
  width: 400px;
}

h1 :hover {
 color: #38A6FF;
}

h2 {
  font-family: adobe-arabic, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  border-bottom: 1px solid #eaeaea;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}
.triangle-bottom {
  display: inline-block;
  border-style: solid;
  border-width: 10px;
  border-color: #eaeaea transparent transparent transparent;
}

.navSide{
  position: absolute;
  width: 200px;
  height: 100px;
  top: 190px;
  left: 440px;
}

.navSide :hover{
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.hako {
  list-style: none;
  font-size: 1em;
  box-sizing: border-box;
  border: 1px solid #606b9b;
  margin: 4px;
  padding: 12px;
}

.migi :hover {
  transform: translateX(17%);
  transition-duration: 0.5s;
}

  header {
    z-index: 2;
    position: relative;
    margin: 20px ;
    padding: 0px 0px;
	  display: flex;
    align-items: center;
    justify-content: center;
  }

a {
  color: #7077d8;
  text-decoration: none;
}


  
.Nlink:hover {
  border-bottom: 1px solid #38A6FF;
  }

.Toumei:hover {
    opacity: 0.3;
    }


.Maru {
  display: block;
  border-radius: 50%;
}

.Zoom:hover {
    transform: scale(2);
    transition-duration: 0.5s;
  }


.flex-container {
  z-index: 2;
  position: relative;
	display: flex;
  align-items: center;
  justify-content: center;
  grid-column-gap: 2%;
}




.footer {
  z-index: 2;
  position: relative;
  margin-top: 60px;
  margin-left: 23%;
  margin-right: 23%;
}

/* nav ul {
  display: flex;
	flex-flow: row;
	justify-content: center;
  grid-gap: 20px;
  margin: 0 auto;
  padding: 0 ;
  width: 100%;
  }
  nav li {
    list-style-type: none;
    width: 100px;
    white-space: nowrap;
  }
  nav a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #38A6FF;
  padding-bottom: 5px;
  } */

  
  @media (max-width: 428px) {
    .resp {
      resize: both;
      width: 100%;
      zoom: 100%;
    }
    .left {
      display: none;
      }

    .flex-container {
    grid-column-gap: 6%;
    }
    .navSide{
      left: -132px;
      top: 150px;
      text-align: right;
      display: none;
    }
    .navSide :hover{
      transform: scale(1);
    }
    .migi :hover {
      transform: translateX(-25%);
      transition-duration: 0.8s;  
    }
    /* .nav{
      display: none;
    }
    .navSide{
      visibility: visible;
      position: absolute;
      left: -40px;
    }
    li {
      list-style: none;
      box-sizing: border-box;
      border: 1px solid #ff6464;
      background-color: rgb(252, 170, 122);
      margin: 3px;
      padding: 3px;
    }
    .migi :hover {
      transform: translateX(-20px);
    } */
  }

  .sumaho {
    display: none;
  }