@import "setting";
@import "parts";
@import "./PT/scrollbar";

html {
  -webkit-text-size-adjust: $r100;
  overflow: scroll;
}
body {
  transition-duration: 0.5s;
  font: {
    family: $Google;
    size: $p14;
    weight: lighter;
  }
  word-break: break-all;
  text-align: center;
  background: $BG;
  background-attachment: fixed;
  color: $ST;
  width: 800px;
  margin-left: 100px;
  @include LRauto;
}

pre {
  border-radius: 10px;
}

pre code span {
  font-size: $p12;
  // font-weight: bold;
}

iframe {
  transform: scale(0.95);
  width: 100%;
}

// API CMS用の引用のスタイル
blockquote {
  border-left: solid 6px gray;
  margin: 0px;
  padding-left: 20px;
}

.resizeimage img {
  width: 100%;
  transform: scale(0.95);
}

button {
  border: none;
  outline: none;
  font: {
    family: $Google;
    weight: normal;
    size: 14px;
  }
}

.list li {
  margin: 14px;
}

ul {
  padding: 0px;
}

nav ul li {
  width: fit-content;
}

.menuButton {
  margin-top: 300px;
  transition-duration: 3s;
}

.NavDrop [aria-expanded="true"] {
  position: absolute;
  margin-top: 24px;
  opacity: 1;
  transition-duration: 0.5s;
}

.NavDrop [aria-expanded="false"] {
  opacity: 0;
}

.menu li {
  list-style-type: none;
  border: solid 1px black;
  border-style: dashed;
  background: #fff;
}

.menu {
  text-align: center;
  display: inline-flex;
}

.White a {
  color: #333;
}

.nav1 {
  list-style: none;
  font: {
    size: $p14;
  }
  color: #333;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: $p20;
  white-space: nowrap;
  left: 88px;
  top: -15px;
}

.nav2 {
  z-index: 4;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  row-gap: 15px;
  white-space: nowrap;
}

.nav2 a {
  color: $ST;
}

.nav3 {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

dt {
  font-size: $p10;
}
dd {
  margin-left: $p0;
  margin-bottom: $p20;
}

a {
  color: $ST;
  text-decoration: none;
}

.Filt {
  visibility: collapse;
}

.MenuList {
  visibility: collapse;
}

.Hlink a {
  color: #68a5ff;
  text-decoration: none;
}

@media screen and (min-width: 740.98px) {
  .scaleLinks:hover {
    cursor: pointer;
    @include Hover;
  }
}

@media screen and (min-width: 740.98px) {
  .hoverBG:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.Block {
  width: 100px;
  padding: 10px 24px 13px 24px;
}

.BlockM {
  padding: 14px;
}

p {
  white-space: pre-wrap;
  width: fit-content;
}

@media screen and (min-width: 740.98px) {
  p:hover {
    cursor: cell;
    @include Hover;
  }
}
h1 {
  @include H1H2;
}

h2 {
  @include H1H2;
  display: $IB;
}

h3 {
  @include H3;
}

h5 {
  @include H5;
}

i {
  font-style: normal;
  @include H5;
}

@keyframes feed {
  from {
    opacity: 0.05;
  }
  to {
    opacity: 1;
  }
}

.footerFix {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  padding: 20px;
}

input {
  @include Input;
  @include LRauto;
  @include BBMyellow;
}

textarea {
  @include Textarea;
  @include LRauto;
  @include BBMyellow;
}

#massageButton {
  @include Mbutton;
}

.hikki {
  display: inline-block;
  font: {
    family: $Google0;
  }
  transform: skew(-20deg);
}

.Top-Logo {
  z-index: 3;
  position: relative;
  display: inline-block;
  left: -400px;
  top: -44px;
  font-size: 24px;
}

.toggle {
  z-index: 6;
  position: relative;
  top: -2px;
  left: -515px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (min-width: 739.99px) {
  .toggle {
    background: $BG;
    box-shadow: 0px 0px 4px 1px gray;
  }
}

#About input {
  display: none;
}
#About ul {
  height: 0;
  overflow: hidden;
  transition-duration: 0.25s;
}

#About input:checked + ul {
  height: 160px;
  transition-duration: 0.25s;
}

#About ul li {
  height: 20px;
  padding: 10px 0 10px 40px;
}

#Links input {
  display: none;
}

#Links ul {
  height: 0;
  overflow: hidden;
  transition-duration: 0.25s;
}
#Links input:checked + ul {
  height: 280px;
  transition-duration: 0.25s;
}

#Links ul li {
  height: 20px;
  padding: 10px 0 10px 40px;
}

form {
  border-radius: 12px;
  padding: 5px 10px 5px 10px;
  background: skyblue;
  transition-duration: 0.5s;
}
form:focus-within {
  background: pink;
}

button {
  border: none;
  background: transparent;
}
