html,
body {
  word-break : break-all;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding: 1em 2em;
  font-size: 1rem;
  background: rgb(255, 255, 255);
  color: #222;
}

a {
  color: #38A6FF;
  text-decoration: none;
}

a:hover{
  color: #38A6FF;;
  border-bottom: 1px solid #38A6FF;
  }

img {
  display: block;
  border-radius: 50%;
}

img:hover {
  cursor: pointer;
  opacity: 0.1;
}

.flex-container {
  height: 160px;
	display: flex;
  align-items: center;
  justify-content: center;
}

nav ul{
  display: flex;
	flex-flow: row;
	justify-content: center;
  grid-gap: 40px;
  margin: 0 auto;
  padding: 0 ;
  width: 100%;
  }
  nav li{
    list-style-type: none;
    width: 100px;
    white-space: nowrap;
  }
  nav a{
  display: block;
  width: 100%;
  text-decoration: none;
  color: #38A6FF;
  padding-bottom: 5px;
  }
  nav li.current{
  border-bottom: 3px solid #92D050;
  }
  nav li:hover{
  color: #38A6FF;
  border-bottom: 1px solid #38A6FF;
  }

  