@import "setting";
@import "parts";
@import "./PT/scrollbar";

html {
    -webkit-text-size-adjust: $r100;
    overflow: scroll;
    user-select: none;
  }
body {
    font: {
      family: $Google;
      size: 14px;
    }
    word-break: break-all;
    text-align: center;
    background: $BG;
    color: $ST;
    width: $r50;
    @include LRauto;
}

li {
    list-style-type: none;
  }
  
nav {
    @include NAV;
}

dt {
    font-size: $p10;
    margin-bottom: -4px;
}
dd {
    margin-left: $p0;
    margin-bottom: $p20;
}
  
a {
    color: rgb(215,228,255);
    text-decoration: none;
}
  
a.scale:hover {
    @include Hover;
}

p:hover {
    @include Hover;
  }

h1 {
    @include H1H2;
  }
  
h2 {
    @include H1H2;
}
  
h3 {
    @include H3;
}

@keyframes feed {
    from { opacity: 0.05; }
    to { opacity: 1; }
}

.footerFix {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
  }
  
  
  footer {
    margin-top: auto;
  }

  .inblo {
    display: $IB;
  }

  input {
    @include Input;
    @include LRauto;
    @include BBMyellow;
  }
  
  textarea {
    @include Textarea;
    @include LRauto;
    @include BBMyellow;
  }
  
  #massageButton {
    @include Mbutton;
  }
  
  .MenuList  {
    visibility: collapse;
  }
  
  .MenuList [aria-expanded='true'] {
    @include Menu;
    visibility: visible;
  }
  
  .MenuList [aria-expanded='false'] {
    @include Menu;
    opacity: 0;
    visibility: unset;
  }
  
  #Pmoji {
    position: fixed;
    inset: 0%;
    margin: auto;
    width: fit-content;
    height: fit-content;
  }
  
  .tate{
    white-space: nowrap;
    font-size: 24px;
    margin: 20px;
  }
  