.gg-style,
.gg-style::after,
.gg-style::before {
  display: inline-block;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
}

.gg-style {
  margin-right: 10px;
  position: relative;
  transform: scale(var(--ggs, 1));
  box-shadow: -3px 3px 0 -1px, 3px -3px 0 -1px;
}

.gg-style::after,
.gg-style::before {
  content: "";
  position: absolute;
  border: 2px solid;
}

.gg-style::before {
  top: -5px;
  left: -5px;
}

.gg-style::after {
  bottom: -5px;
  right: -5px;
}

.gg-data {
  transform: scale(var(--ggs, 1));
  display: inline-block;
  margin-right: 8px;
}

.gg-data,
.gg-data::after,
.gg-data::before {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: 2px solid;
  border-radius: 50%;
  width: 14px;
  height: 14px;
}

.gg-data::after,
.gg-data::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;
}

.gg-data::after {
  background: linear-gradient(to left, currentcolor 8px, transparent 0) no-repeat bottom center/2px 8px;
  width: 22px;
  height: 22px;
  top: -6px;
  left: -6px;
}

.gg-data,
.gg-data::after {
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.gg-mail,
.gg-mail::after {
  display: inline-block;
  box-sizing: border-box;
  height: 14px;
  border: 2px solid;
}

.gg-mail {
  margin-right: 5px;
  overflow: hidden;
  top: 2px;
  position: relative;
  width: 18px;
  border-radius: 2px;
}

.gg-mail::after {
  content: "";
  position: absolute;
  border-radius: 3px;
  width: 14px;
  transform: rotate(-45deg);
  bottom: 3px;
  left: 0;
}

.gg-details-more {
  margin-right: 4px;
  margin-left: -6px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 14px;
  border: 2px solid transparent;
}

.gg-details-more::after,
.gg-details-more::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  height: 2px;
  border-radius: 3px;
  background: currentcolor;
}

.gg-details-more::before {
  box-shadow: 0 4px 0 0;
  top: 0;
  width: 16px;
}

.gg-details-more::after {
  width: 10px;
  bottom: 0;
}

.gg-git-fork {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs, 1));
  width: 2px;
  height: 14px;
  background: currentcolor;
  margin-right: 12px;
  top: 2px;
}

.gg-git-fork::after,
.gg-git-fork::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-git-fork::before {
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-bottom-right-radius: 4px;
  bottom: 4px;
  width: 8px;
  height: 6px;
  left: 0;
}

.gg-git-fork::after {
  width: 4px;
  height: 4px;
  background: currentcolor;
  box-shadow: 0 12px 0 0, 6px 2px 0 0;
  border-radius: 100%;
  left: -1px;
  top: -1px;
}

.heart {
  width: 15px; /* 正方形を作る */
  height: 15px; /* 正方形を作る */
  position: relative; /* 基準位置とする */
  display: inline-flex;
  transform: rotate(-45deg);
  top: 2px;
}

.heart::before,
.heart::after {
  content: ""; /* 疑似要素に必須 */
  width: 50%; /* ハートの丸い部分の大きさにかかわる */
  height: 80%; /* ハートの高さにかかわる */
  background: rgb(94 234 212); /* ハートの色 */
  border-radius: 25px 25px 0 0; /* ハートの半円を生成 */
  display: block; /* ブロック要素にする */
  position: absolute; /* 相対位置に指定 */
  transition: all 2s;
}

.heart::before {
  transform: rotate(-45deg); /* 左に回転 */
  left: 14%; /* 左からの位置を指定 */
}

.heart::after {
  transform: rotate(45deg); /* 右に回転 */
  right: 14%; /* 右からの位置を指定 */
}
