h1 {
    font-family: adobe-arabic, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #666;
    border-bottom: 1px solid #eaeaea;
    white-space: nowrap;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
  
  h2 {
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    white-space: nowrap;
    color: rgb(170, 170, 170);
    border-bottom: 1px solid #eaeaea;
    width: 20%;
    margin-right: auto;
    margin-left: auto;
  }


  @media screen and (max-width: 740px) {

    h1 {
        width: 200px;
    }

    h2 {
        width: 260px;
    }
  }