
@media screen and (max-width: 1780px) {


.en {
  padding-top: 34px;
  padding-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
}

.Line {
    z-index: 4;
    position: fixed;
    right: 8px;
    top: 8px;
    display: inline-block;
    cursor: pointer;
    background: #f2f2f2;
    border-radius: 20%;
  }
.Line span {
    display: block;
    position: relative;
    height: 5px;
    width: 44px;
    background-color: #666;
    border-radius: 4px;
  }
.Line span:nth-of-type(1) {
    bottom: 15px;
  }
.Line span:nth-of-type(2) {
    bottom: 10px;
  }


.Line [aria-expanded='true'] span:nth-of-type(1) { 
  transform: rotate(-45deg) translateY(3.5px) translateX(-3.5px) scale(1.4) ;
  transition-duration: 0.25s;
}

.Line [aria-expanded='true'] span:nth-of-type(2) { 
  transform: rotate(45deg) translateY(-3.5px) translateX(-3.5px) scale(1.4) ;
  transition-duration: 1s;
}

.Line [aria-expanded='false'] span:nth-of-type(1) { 
  transition-duration: 1s;
}

.Line [aria-expanded='false'] span:nth-of-type(2) { 
  transition-duration: 0.25s;
}

.Line [aria-expanded='true'] {
  background: #f0ebeb;
}

.MenuList {
  visibility: collapse;
  display: block;
}

.MenuList [aria-expanded='true'] {
  z-index: 3;
  position: fixed;
  background: #f0ebeb;
  left: 0%;
  right: 0%;
  top: 0%;
  width: 100%;
  height: 200%;
  background-color: rgba(240, 235, 235, 0.8);
  visibility: visible;
  animation: 0.25s feed;
}



.h1 {
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0px;
  width: 110px;
  margin-left: auto;
  margin-right: auto;
  }

  .disableN {
    display:none;
  }


.tate{
    font-family: adobe-arabic, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #666;
    list-style: none;
    white-space: nowrap;
    font-size: 3rem;
    padding: 10px;
}


#Pmoji {
    position: fixed;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

@keyframes feed {
    from { opacity: 0; }
    to { opacity: 1; }
  }


}