@import "settings";

@media screen and (max-width: 739.98px) {
  html {
    height: 100%;
    padding: 58px 0 0;
  }

  footer {
    padding-bottom: 40px;
  }

  div {
    outline: none;
  }

  body {
    width: 100%;
  }

  article {
    padding: 16px;
  }

  .Text {
    position: absolute;
    display: inline-flex;
    transform: translate(0);
    left: 10px;
    top: 18px;
  }

  .Line button {
    z-index: 4;
    position: relative;
    border-radius: 12%;
    padding: 30px 12px 9px;
    transition-duration: 0.5s;
    outline: none;
    border: none;
  }

  .Line {
    z-index: 4;
    position: fixed;
    display: inline-block;
    right: 6px;
    top: 6px;
  }

  .Line span {
    display: block;
    position: relative;
    height: 1px;
    width: 18px;
    background-color: var(--color-text);
    border-radius: 4px;
  }

  .Line span:nth-of-type(1) {
    bottom: 15px;
  }

  .Line span:nth-of-type(2) {
    bottom: 10px;
  }

  .Line span:nth-of-type(3) {
    bottom: 5px;
  }

  .Line [aria-expanded="true"] span:nth-of-type(1) {
    transform: rotate(45deg) translateY(4px) translateX(4px) scale(0.8);
    transition-duration: 0.1s;
  }

  .Line [aria-expanded="true"] span:nth-of-type(2) {
    opacity: 0;
    transition-duration: 0.25s;
  }

  .Line [aria-expanded="true"] span:nth-of-type(3) {
    transform: rotate(-45deg) translateY(-4.5px) translateX(4.5px) scale(0.8);
    transition-duration: 0.1s;
  }

  .Line [aria-expanded="false"] span:nth-of-type(1) {
    transition-duration: 0.1s;
  }

  .Line [aria-expanded="false"] span:nth-of-type(2) {
    transition-duration: 0.1s;
  }

  .Line [aria-expanded="false"] span:nth-of-type(3) {
    transition-duration: 0.1s;
  }

  .MenuList [aria-expanded="true"] {
    @include Menu;

    visibility: visible;
  }

  .MenuList [aria-expanded="false"] {
    @include Menu;

    visibility: hidden;

    .nav2 {
      opacity: 0;
      transform-origin: center;
      transform: translateX(100px) translateY(-100px) scale(0.2) rotate(-720deg);
    }
  }

  .MenuList li {
    list-style: none;
  }

  .disableN {
    display: none;
  }

  .AboutState [aria-expanded="true"] {
    @include State-true;

    div {
      background-color: orange;
    }
  }

  .AboutState [aria-expanded="false"] {
    @include State-false;
  }

  .LinksState [aria-expanded="true"] {
    @include State-true;
  }

  .LinksState [aria-expanded="false"] {
    @include State-false;
  }

  /* ブログとコンタクトのスケール再定義 */

  .Mail form input {
    width: 240px;
  }

  .Mail form textarea {
    width: 300px;
    height: 220px;
  }

  dd {
    margin-bottom: 12px;
  }

  .togglePosition {
    z-index: 4;
    position: absolute;
    top: 8px;
    right: 56px;
  }

  .feedPosition {
    z-index: 4;
    position: absolute;
    top: 8px;
    left: 135px;
  }

  .none {
    display: block;
  }

  pre code span {
    font-size: $p10;
    overflow-x: scroll;
  }
}
