
@media screen and (max-width: 740px) {

body {
  width: 90%;
}

.bgg {
 display: none;
}

button {
  border: none;
  background: #BC2E50;
  border-radius: 20%;
  padding-top: 31px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  opacity: 0.5;
}

.Line {
  display: inline-block;
  z-index: 5;
  position: fixed;
  right: 14px;
  top: 14px;
}
.Line span {
  display: block;
  position: relative;
  height: 2px;
  width: 24px;
  background-color: #fff;
  border-radius: 4px;
}

.Line span:nth-of-type(1) {
  bottom: 15px;
}

.Line span:nth-of-type(2) {
  bottom: 10px;
}

.Line [aria-expanded='true'] span:nth-of-type(1) { 
  transform: rotate(45deg) translateY(2.5px) translateX(2.5px) scale(1.2);
  transition-duration: 0.1s;
}

.Line [aria-expanded='true'] span:nth-of-type(2) { 
  transform: rotate(-45deg) translateY(-2.5px) translateX(2.5px) scale(1.2);
  transition-duration: 0.1s;
}

.Line [aria-expanded='false'] span:nth-of-type(1) { 
  transition-duration: 0.1s;
}

.Line [aria-expanded='false'] span:nth-of-type(2) { 
  transition-duration: 0.1s;
}

.MenuList {
  visibility: collapse;
  display: block;
}

.MenuList [aria-expanded='true'] {
  z-index: 4;
  position: fixed;
  background-color: rgba(16, 19, 29, 0.95);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  visibility: visible;
  animation: 1s feed;
}

  .disableN {
    display:none;
  }


.tate{
  white-space: nowrap;
  font-size: 24px;
  margin: 20px;
}

.border {
  border-bottom: solid 1px rgb(215,228,255);
}


#Pmoji {
    position: fixed;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

@keyframes feed {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .PZoom-in {
    transition-duration: 1s;
  }
  
  .PZoom-in:active {
    transform: scale(1.6);
  }

/* ブログとコンタクトのスケール再定義 */


  input {
    width: 200px;
    height: 20px;
  }
  
  textarea {
    width: 280px;
    height: 300px;
  }

  /* Topヘッダーモビ */

h1 {
  margin-top: 120px;
}

.flex-container {
  position: absolute;
  grid-gap: 20px;
  top: 14px;
  left: 72px;
}

.Maru {
  transform: scale(0.8);
} 

.Logo {
  position: absolute;
  top: 10px;
  left: 10px;
}
}


